@font-face {
    font-family: "LatoBold";
    src: url(//fonts/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "LatoRegular";
    src: url(//fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "PoppinsLight";
    src: url(//fonts/Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "PoppinsMedium";
    src: url(//fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url(//fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url(//fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "RobotoLight";
    src: url(//fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "RobotoRegular";
    src: url(//fonts/Roboto-Regular.ttf);
    font-weight: 400;
}